<div class="pull-right hidden-xs">
  <div class="mt7 form-search search-only">
    <i class="search-icon glyphicon glyphicon-search"></i>
    <input type="text" ng-model="search" class="form-control search-query" placeholder="ค้นหา...">
  </div>
</div>
<h4>อีเว้นต์</h4>
<div class="row visible-xs">
  <div class="col-md-12">
    <div class="form-search search-only">
      <i class="search-icon glyphicon glyphicon-search"></i>
      <input type="text" ng-model="search" class="form-control search-query" placeholder="ค้นหา...">
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-body table-responsive">
    <p>
      <table class="table table-striped text-nowrap">
        <thead>
          <th class="hidden-xs">#</th>
          <th>ชื่ออีเว้นต์</th>
          <th>คำอธิบาย</th>
          <th>ผู้เข้าร่วม</th>
          <th>วันทีเริ่ม</th>
        </thead>
        <tbody>
          <tr ng-repeat="event in events | filter: search track by $index">
            <td class="hidden-xs">{{ $index + 1 }}</td>
            <td><a ui-sref="eventView({ id: event.id })">{{ event.name }}</a></td>
            <td>{{ event.description || '-' }}</td>
            <td>{{ getParticipantsLength(event.participants) }}/{{ students.length }} ({{ getParticipantsLength(event.participants) * 100 / students.length | number:2 }}%)</td>
            <td>{{ event.created | date }}</td>
          </tr>
        </tbody>
      </table>
    </p>
    <a ui-sref="eventNew" class="btn btn-large btn-info">เพิ่มอีเว้นต์ใหม่</a>
  </div>
</div>
