<div class="pull-right">
  <div class="mt7 form-search search-only">
    <i class="search-icon glyphicon glyphicon-search"></i>
    <input type="text" ng-model="search" class="form-control search-query">
  </div>
</div>
<h4>{{ event.name || "ไม่พบข้อมูล" }}<br><small class="hidden-xs">{{ event.description }}<br>{{ event.created | date}}</small></h4>
<div class="panel">
	<div class="panel-body table-responsive">
    <div ng-if="!event.id">
      <center>
        ไม่พบข้อมูล
        <a ui-sref="eventList">กลับไปหน้าแรก</a>
      </center>
    </div>
    <div ng-if="event.id">
      <table class="table table-striped">
        <thead>
          <th class="hidden-xs">#</th>
          <th class="hidden-xs">รหัสนักศึกษา</th>
          <th class="visible-xs">รหัส</th>
          <th>ชื่อเล่น</th>
          <th class="hidden-xs">ชื่อ-นามสกุล</th>
          <th>สถานะ</th>
          <th class="hidden-xs">วันที่เข้าร่วม</th>
          <th>หมายเหตุ</th>
          <th><span class="hidden-xs">Facebook</span></th>
        </thead>
        <tbody>
          <tr ng-repeat="student in students | filter: search track by $index">
            <td class="hidden-xs">{{ $index + 1 }}</td>
            <td class="hidden-xs"><a ui-sref="studentView({ id: student.id })">{{ student.id }}</a></td>
            <td class="visible-xs"><a ui-sref="studentView({ id: student.id })">{{ student.id.slice(-3) }}</a></td>
            <td>{{ student.nickname }}</td>
            <td class="hidden-xs">{{ student.name }}</td>
            <td><input type="checkbox" ng-model="status" ng-change="check(student.id, status)" ng-checked="getStatus(student.id)"></td>
            <td class="hidden-xs">{{ (getAddTime(student.id) | date) || "-" }}</td>
            <td><a href ng-click="remark(student.id)">{{ getRemark(student.id) || 'เพิ่ม' }}</a></td>
            <td><a target="_blank" href="{{ student.facebook }}"><img src="assets/img/logo-facebook.png"> <span class="hidden-xs hidden-sm"> {{ student.facebook }}</span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
</div>
