<h4>ข้อมูลนักศึกษา - {{ id }}</h4>
<div class="panel">
	<div class="panel-body">
    <div ng-if="!student.id">
      <center>
        ไม่พบข้อมูล
        <a ui-sref="studentList">กลับไปหน้าแรก</a>
      </center>
    </div>
    <div ng-if="student.id">
			<div class="row">
				<div class="col-md-4">
					<label>รหัสนักศึกษา</label><br>
					<a ui-sref="studentView({ id: id })"><span style="font-size: 18px;"><b>{{ id }}</b></span></a>
				</div>
				<div class="col-md-4">
					<label>ชื่อเล่น</label><br>
					<span style="font-size: 18px;"><b>{{ student.nickname }}</b></span>
				</div>
				<div class="col-md-4">
					<label>ชื่อ-นามสกุล</label><br>
					<span style="font-size: 18px;"><b>{{ student.name }}</b></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>เพศ</label><br>
					<span style="font-size: 18px;"><b>{{ student.gender }}</b></span>
				</div>
				<div class="col-md-4">
					<label>เบอร์โทรศัพท์</label><br>
					<a href="tel:{{ student.phone }}"><span style="font-size: 18px;"><b>{{ student.phone }}</b></span></a>
				</div>
				<div class="col-md-4">
					<label>เบอร์โทรฉุกเฉิน</label><br>
					<a href="tel:{{ student.phone2 || '-' }}"><span style="font-size: 18px;"><span style="font-size: 18px;"><b>{{ student.phone2 }}</b></span></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>ที่อยู่ปัจจุบัน</label><br>
					<span style="font-size: 18px;"><b>{{ student.address }}</b></span>
				</div>
				<div class="col-md-8">
					<label>Facebook URL</label><br>
					<div style="font-size: 18px; word-wrap: break-word;">
						<a target="_blank" href="{{ student.facebook }}"><b>{{ student.facebook }}</b></a>
					</div>
				</div>
			</div>
    </div>
	</div>
</div>
<div ng-if="student.id">
  <h4>อีเว้นต์</h4>
  <div class="panel">
  	<div class="panel-body table-responsive">
			<table class="table table-striped text-nowrap">
	      <thead>
	        <th>ชื่ออีเว้นต์</th>
	        <th class="hidden-xs hidden-sm">คำอธิบาย</th>
	        <th>สถานะ</th>
					<th>หมายเหตุ</th>
		      <th>วันทีเริ่ม</th>
					<th>วันทีเข้าร่วม</th>
					<th>เครื่องมือ</th>
	      </thead>
	      <tbody>
	        <tr ng-repeat="event in events">
	          <td><a ui-sref="eventView({ id: event.id })">{{ event.name }}</a></td>
	          <td class="hidden-xs hidden-sm">{{ event.description || '-' }}</td>
	          <td>
							<img src="assets/img/icon-check.png" ng-if="getDataByStudent(event, student).status">
            	<img src="assets/img/icon-cross.png" ng-if="!getDataByStudent(event, student).status">
						</td>
						<td>{{ getDataByStudent(event, student).remark || "-" }}</td>
		        <td>{{ event.created | date }}</td>
						<td>{{ (getDataByStudent(event, student).addtime | date) || "-" }}</td>
						<td>
							<a href ng-click="updateEvent(event, student)">
								<button type="button" class="btn btn-success btn-xs"><img src="assets/img/icon-edit.png"> แก้ไข</button>
							</a>
						</td>
	        </tr>
	      </tbody>
	    </table>
  	</div>
  </div>
</div>
