<h4>เพิ่มข้อมูลนักศึกษา</h4>
<div class="panel">
	<div class="panel-body">
		<form ng-submit="add()" name="form">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-feedback has-error': form.id.$invalid && !form.id.$pristine, 'has-feedback has-success': form.id.$valid }">
						<label class="control-label">รหัสนักศึกษา</label>
						<input type="text" class="form-control" name="id" ng-model="id" ng-minlength="10" ng-maxlength="10" placeholder="5835512000" required>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.id.$invalid && !form.id.$pristine"></span>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-if="form.id.$valid"></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-feedback has-error': form.nickname.$invalid && !form.nickname.$pristine, 'has-feedback has-success': form.nickname.$valid }">
						<label class="control-label">ชื่อเล่น</label>
						<input type="text" class="form-control" name="nickname" ng-model="nickname" ng-maxlength="20" placeholder="ใส่ชื่อเล่นหรือชื่อที่คนอื่นรู้จัก" required>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.nickname.$invalid && !form.nickname.$pristine"></span>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-if="form.nickname.$valid"></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-feedback has-error': form.name.$invalid && !form.name.$pristine, 'has-feedback has-success': form.name.$valid }">
						<label class="control-label">ชื่อ-นามสกุล</label>
						<input type="text" class="form-control" name="name" ng-model="name" ng-maxlength="30" placeholder="ชื่อ นามสกุล (ไม่ต้องมีคำนำหน้า)" required>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.name.$invalid && !form.name.$pristine"></span>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-if="form.name.$valid"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">เพศ</label>
						<select class="form-control" ng-model="gender" ng-init="gender = 'ชาย'" required>
						<option value="ชาย">ชาย</option>
						<option value="หญิง">หญิง</option>
					</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-feedback has-error': form.phone.$invalid && !form.phone.$pristine, 'has-feedback has-success': form.phone.$valid }">
						<label class="control-label">เบอร์โทรศัพท์</label>
						<input type="text" class="form-control" name="phone" ng-model="phone" ng-pattern="/^[0][0-9]{9}$/" ng-minlength="10" ng-maxlength="10" placeholder="0812345678" required>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.phone.$invalid && !form.phone.$pristine"></span>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-if="form.phone.$valid"></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-feedback has-error': form.phone2.$invalid && !form.phone2.$pristine, 'has-feedback has-success': form.phone2.$valid && !form.phone2.$pristine }">
						<label class="control-label">เบอร์โทรฉุกเฉิน</label>
						<input type="text" class="form-control" name="phone2" ng-model="phone2" ng-pattern="/^[0][0-9]{9}$/" ng-minlength="10" ng-maxlength="10" placeholder="0812345678">
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.phone2.$invalid && !form.phone2.$pristine"></span>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-if="form.phone2.$valid && !form.phone2.$pristine"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" ng-class="{ 'has-feedback has-error': form.address.$invalid && !form.address.$pristine, 'has-feedback has-success': form.address.$valid }">
						<label class="control-label">ที่อยู่ปัจจุบัน</label>
						<input type="text" class="form-control" name="address" ng-model="address" ng-maxlength="50" placeholder="หอชาย ห้อง A01" required>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.address.$invalid && !form.address.$pristine"></span>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-if="form.address.$valid"></span>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group" ng-class="{ 'has-feedback has-error': form.facebook.$invalid && !form.facebook.$pristine, 'has-feedback has-success': form.facebook.$valid }">
						<label class="control-label">Facebook URL</label>
						<input type="text" class="form-control" name="facebook" ng-model="facebook" ng-maxlength="100" placeholder="https://www.facebook.com/palmz.haxker" required>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="form.facebook.$invalid && !form.facebook.$pristine"></span>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-if="form.facebook.$valid"></span>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-info" ng-disabled="loading || form.$invalid">เพิ่มข้อมูล</button>
			<button type="reset" class="btn btn-danger">รีเซ็ตข้อมูล</button>
		</form>
	</div>
</div>
