<div class="pull-right hidden-xs">
  <div class="mt7 form-search search-only">
    <i class="search-icon glyphicon glyphicon-search"></i>
    <input type="text" ng-model="search" class="form-control search-query" placeholder="ค้นหา...">
  </div>
</div>
<h4>รายชื่อนักศึกษา</h4>
<div class="row visible-xs">
  <div class="col-md-12">
    <div class="form-search search-only">
      <i class="search-icon glyphicon glyphicon-search"></i>
      <input type="text" ng-model="search" class="form-control search-query" placeholder="ค้นหา...">
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-body table-responsive">
    <p>
      <table class="table table-striped text-nowrap">
        <thead>
          <th>#</th>
          <th>
            <span class="visible-xs">รหัส</span>
            <span class="hidden-xs">รหัสนักศึกษา</span>
          </th>
          <th>
            <!-- <span class="visible-xs">ชื่อ</span> -->
            ชื่อเล่น
          </th>
          <th class="hidden-xs">ชื่อ-นามสกุล</th>
          <th>เบอร์โทร</th>
          <th><span class="hidden-xs">Facebook</span></th>
        </thead>
        <tbody>
          <tr ng-repeat="student in students | filter: search track by $index">
            <td>{{ $index + 1 }}</td>
            <td>
              <a class="hidden-xs" ui-sref="studentView({ id: student.id })">{{ student.id }}</a>
              <a class="visible-xs" ui-sref="studentView({ id: student.id })">{{ student.id.slice(-3) }}</a>
            </td>
            <td>{{ student.nickname }}</td>
            <td class="hidden-xs">{{ student.name }}</td>
            <td><a href="tel:{{ student.phone }}">{{ student.phone }}</a></td>
            <td><a target="_blank" href="{{ student.facebook }}"><img src="assets/img/logo-facebook.png"> <span class="hidden-xs hidden-sm"> {{ student.facebook }}</span></a></td>
          </tr>
        </tbody>
      </table>
    </p>
    <a ui-sref="studentNew" class="btn btn-info">เพิ่มข้อมูลใหม่</a>
  </div>
</div>
